<div class="flex flex-1 full-height ">
    <div class="flex column flex-1 center-center padding-20px">
        <mat-card class="flex column flex-1 full-width center-center auth-card">
            <div class="logo">Stock<span class="accent">Xpert</span></div>

            <div class="flex column width-80">
                <form [formGroup]="signUpForm">
                    <h2 class="margin-bottom-1em">Create a New Account</h2>

                    <div class="flex gap-1em">
                        <div class="flex column input-container flex-1">
                            <mat-label>First Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="firstName" placeholder="Joe">
                                <mat-error *ngIf="signUpForm.get('personalDetails.firstName')?.hasError('required')">
                                    First Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex column input-container flex-1">
                            <mat-label>Last Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="lastName" placeholder="Doe">
                                <mat-error *ngIf="signUpForm.get('personalDetails.lastName')?.hasError('required')">
                                    Last Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex column input-container">
                        <mat-label>Emaild Address</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="signUpForm.get('personalDetails.email')?.hasError('required')">
                                Emaild Address is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex column input-container">
                        <mat-label>Password</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="password" matInput formControlName="password" placeholder="*********">
                            <mat-error *ngIf="signUpForm.get('personalDetails.password')?.hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex column input-container margin-bottom-1em">
                        <mat-label>Confirm Password</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="password" matInput formControlName="confirmPassword" placeholder="*********">
                            <mat-error
                                *ngIf="signUpForm.get('personalDetails.confirmPassword')?.hasError('passwordMatch') && !signUpForm.get('personalDetails.confirmPassword')?.hasError('required')">
                                Password doesn't match
                            </mat-error>
                            <mat-error *ngIf="signUpForm.get('personalDetails.confirmPassword')?.hasError('required')">
                                Confirm Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex spacebetween-center gap-1em">
                        <div class="flex column flex-1">
                            <button mat-raised-button color="accent">Back</button>
                        </div>
                        <div class="flex column flex-1">
                            <button mat-raised-button color="primary" (click)="submit()">Sign Up</button>
                        </div>
                    </div>

                    <p class="text-center">
                        Already have an account? <b class="link" routerLink="/auth/sign-in">Sign In</b>
                    </p>
                </form>
            </div>
        </mat-card>
    </div>
    <div class="flex column flex-1 center-center">
        <img src="../../../../assets/illustrations/auth.svg" alt="auth illustration">
    </div>
</div>