<mat-toolbar color="primary" class="flex spacebetween-center">
    <div class="flex column">
        <p class="main-logo no-margin">Stock<span class="accent">Xpert</span></p>
    </div>
    <div class="flex start-center gap-1em search-container">
        <div class="flex flex-1 column input-container remove-error-container remove-input-margin-top search-input">
            <mat-form-field appearance="outline">
                <input type="text" matInput [formControl]="searchControl" placeholder="Searchfor any vehicle...">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="flex center-center gap-1em">
            <div class="initials light-grey-bg primary" *ngIf="userInfo"
                [matTooltip]="userInfo.firstName + ' ' + userInfo.lastName | titlecase">
                <p>{{userInfo.firstName[0] | uppercase}}{{userInfo.lastName[0] | uppercase}}</p>
            </div>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="'side'" opened>
        <div class="flex start-center sidenav-item gap-1em grey" [class.focused-sidenav-item]="INDEX === focusedNavItem"
            *ngFor="let nav of navItems; let INDEX = index" (click)="changeRoute(nav.url)">
            <div class="flex column center-center">
                <span class="material-symbols-outlined">{{nav.icon}}</span>
            </div>
            <div fxLayout="column" fxFlex="80">{{nav.name}}</div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="router-outlet">
            <router-outlet *ngIf="!showSearchResults"></router-outlet>
            <div *ngIf="showSearchResults">
                <div class="flex spacebetween-center">
                    <h2>Search results for: <span class="accent">{{searchControl.value}}</span></h2>
                    <button mat-raised-button color="primary" (click)="back()">Back</button>
                </div>

                <mat-card class="flex column no-padding-bottom">
                    <div class="table-container">
                        <app-vehicle-table [vehicles]="vehicles?.vehicles"></app-vehicle-table>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>