<div class="flex flex-1 full-height">
    <div class="flex column flex-1 center-center padding-20px">
        <mat-card class="flex column flex-1 full-width center-center auth-card">
            <div class="logo">Stock<span class="accent">Xpert</span></div>

            <!-- Forgot Password -->
            <div class="flex column width-80" *ngIf="!verifyCode && !setNewPassword">
                <form [formGroup]="emailForm">
                    <h2 class="margin-bottom-1em">Forgot Password</h2>

                    <div class="flex column input-container">
                        <mat-label>Email Address</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
                                Email Address is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex spacebetween-center gap-1em">
                        <div class="flex column flex-1">
                            <button mat-raised-button color="primary" (click)="submit()">Send OTP</button>
                        </div>
                    </div>

                    <p class="text-center">
                        Already have an account? <b class="link" routerLink="/auth/sign-in">Sign In</b>
                    </p>
                </form>
            </div>

            <!-- Verify Code -->
            <div class="flex column width-80" *ngIf="verifyCode && !setNewPassword">
                <form [formGroup]="verifyForm">
                    <h2 class="margin-bottom-1em">Verify Code</h2>

                    <div class="flex column input-container">
                        <mat-label>Verification Code</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="text" matInput formControlName="verification_code" placeholder="Sent via mail">
                            <mat-error *ngIf="verifyForm.get('verification_code')?.hasError('required')">
                                Verification Code is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex spacebetween-center gap-1em">
                        <div class="flex column flex-1">
                            <button mat-raised-button color="accent" (click)="submit()">Resend Code</button>
                        </div>
                        <div class="flex column flex-1">
                            <button mat-raised-button color="primary" (click)="verify()">Verify Code</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Reset Password -->
            <div class="flex column width-80" *ngIf="setNewPassword">
                <form [formGroup]="createNewPasswordForm">
                    <h2 class="margin-bottom-1em">Create a new Password</h2>

                    <div class="flex column input-container">
                        <mat-label>New Password</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="password" matInput formControlName="new_password" placeholder="****">
                            <mat-error *ngIf="createNewPasswordForm.get('new_password')?.hasError('required')">
                                New Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex column input-container">
                        <mat-label>Confirm Password</mat-label>
                        <mat-form-field appearance="outline">
                            <input type="password" matInput formControlName="confirmPassword" placeholder="****">
                            <mat-error
                                *ngIf="createNewPasswordForm.get('confirmPassword')?.hasError('passwordMatch') && !createNewPasswordForm.get('confirmPassword')?.hasError('required')">
                                Password doesn't match
                            </mat-error>
                            <mat-error *ngIf="createNewPasswordForm.get('confirmPassword')?.hasError('required')">
                                Confirm Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex spacebetween-center gap-1em">
                        <div class="flex column flex-1">
                            <button mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
    <div class="flex column flex-1 center-center">
        <img src="../../../../assets/illustrations/auth.svg" alt="auth illustration" class="full-height">
    </div>
</div>