// Flex
.flex {
    display: flex !important;
}

.flex-1 {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

// Flex (Direction)
.row {
    flex-direction: row !important;
}

.column {
    flex-direction: column;
}

// Flex (Layout)
.center-center {
    justify-content: center;
    align-items: center;
}

.start-center {
    align-items: center;
}

.center-stretch {
    justify-content: center;
}

.end-center {
    justify-content: end;
    align-items: center;
}

.spaceevenly-center {
    justify-content: space-evenly;
    align-items: center;
}

.spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

.spacebetween-stretch {
    justify-content: space-between;
}

// Flex (Gap)
.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}